.subheader{
    margin-top: 50px;
}

.col-lg-9{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-section{
    padding-bottom: 0 !important;
}

.loadMore{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 5%;
}