.filters{
    margin-top: 100px;
    height: 18%;
    padding:10px ;
    margin-left: 20px;
    border-radius: 5px;
}


li{
    list-style: none;
}

.container{
    margin-top: 30px;
}

.page-section{
   min-height: 800px;
}

button{
    margin-top: 3%;
}