code.highlight {
  color: #ffffff;
}
.hljs-keyword, 
.hljs-literal, 
.hljs-symbol, 
.hljs-name {
  color: #5796d6;
}

.hljs-attr, 
.hljs-attribute, 
.hljs-builtin-name {
  color: #9accfe;
}

.hljs-string, 
.hljs-meta-string {
  color: #d6859c;
}

.hljs-comment,
.hljs-quote {
  color: #6c7884;
}