.subheader{
  margin-top: 50px;
}


.card{
  width: 100%;
  margin: 5%;
}

.text-70{
  margin: 0 auto;
}

.icon{
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.btn-accent{
  color: white !important;
}

.nothingToShow{
  text-align: center;
}

.container{
  min-height: 100vh;
}