---
title: Reset Password
slug: reset-password
---
{% extends "layouts/account.html" %}

{% block page %}
  <div class="bg-gradient-primary py-32pt">
    <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
      <div class="flex">
        <h1 class="text-white flex mb-0">Reset Password</h1>
        <p class="lead text-white-50">Account Management</p>
      </div>
      <p class="d-sm-none"></p>
      <a href="" class="btn btn-outline-white flex-column">
        Need Help?
        <span class="btn__secondary-text">Contact us</span>
      </a>
    </div>
  </div>
  {% include 'pages/_reset-password.html' %}
{% endblock %}