<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content pb-0">

    <div class="page-section pt-64pt bg-gradient-primary">
        <div class="container page__container subheader">
            <div class="hero text-center pb-64pt">
                <h1 class="text-white">Compra tu Portfolio</h1>
                <p class="text-white-50 lead measure-hero-lead mx-auto">Elige entre múltiples portfolios diseñados por profesionales del sector.</p>
            </div>

            <div *ngIf="this.user != undefined">
              <div class="row card-group-row mb-16pt mb-lg-40pt d-flex justify-content-center">
                <a class="btn btn-accent" href="/recommendTemplate">Recomendarme</a>
              </div>
            </div>

            <div class="row card-group-row mb-16pt mb-lg-40pt d-flex justify-content-center">

                <div *ngIf="this.recommendedTemplate == undefined; else recommend">

                  <div *ngFor="let template of this.notPurchasedTemplates">

                    <div class="col-lg-6 col-sm-6 card-group-row__col">
                      <div class="card card-group-row__card text-center o-hidden">

                        <div class="card-body d-flex flex-column">
                              <div class="flex-grow mb-16pt">

                                <div *ngIf="template.isFree; else premium">
                                  <span class="w-64 h-64 icon-holder icon-holder--outline-secondary rounded-circle d-inline-flex mb-16pt">
                                    <i class="material-icons">group</i>
                                  </span>
                                </div>

                                <ng-template #premium>
                                  <div>
                                    <span class="w-64 h-64 icon-holder icon-holder--outline-secondary rounded-circle d-inline-flex mb-16pt">
                                      <i class="material-icons">business_center</i>
                                  </span>
                                  </div>
                                </ng-template>

                                <h4 class="mb-8pt">{{template.name}}</h4>
                                <p class="text-70 mb-0">{{template.description}}</p>
                              </div>

                              <p class="d-flex justify-content-center align-items-center m-0">
                                  <span class="h4 m-0 font-weight-normal">&euro;</span>
                                  <span class="h1 m-0 font-weight-normal">{{template.price}}</span>
                              </p>

                        </div>

                        <div class="card-footer d-flex flex-column">

                          <a href="{{template.htmlPath}}" class="btn btn-outline-primary mb-3">Preview</a>

                          <div *ngIf="this.user != undefined">

                            <div *ngIf="this.isPurchased(template); else notPurchased">
                              <a href="#" class="btn btn-secondary w-100">Comprado</a>
                            </div>
                            <ng-template #notPurchased>
                              <div>
                                <button class="btn btn-outline-accent w-100">Comprar</button>
                              </div>
                            </ng-template>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <ng-template #recommend>
                  <div>
                    <h2 class="text-white">No tenemos nada que recomendarte</h2>
                  </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>
