<div class="mdk-header-layout__content page-content pb-0">

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-responsive-width="768px" data-push>
        <div class="filters d-flex flex-column">
            <h4>Profesiones</h4>
            <button  class="btn btn-primary" (click)="loadUsers('')" [disabled]="all">Todas</button>
            <button  class="btn btn-primary"(click)="loadUsers('engineers')" [disabled]="eng">Ingeniero</button>
            <button  class="btn btn-primary"(click)="loadUsers('designers')" [disabled]="des">Diseñador</button>
            <button  class="btn btn-primary"(click)="loadUsers('photographer')" [disabled]="pho">Fotografo</button>
            <button  class="btn btn-primary"(click)="loadUsers('businessman')" [disabled]="bus">Empresario</button>
        </div>
        <!-- MAIN CONTENT -->
        <div class="mdk-drawer-layout__content">
            <div class="page-section">
                <div class="container page__container">


                    <div class="page-heading">
                        <h4>Resultados</h4>
                        <p class="ml-sm-auto text-70 mb-0"><strong>{{actualElements}}</strong> resultados</p>
                    </div>

                    <div class="row">
                        <!--SINGLE RESULT CARD-->
                        <div *ngFor="let user of users" class="col-lg-4 col-xl-3 col-sm-6">

                            <div>

                                <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                                    data-partial-height="40" data-toggle="popover" data-trigger="click">


                                    <a href="#" data-position="center">
                                        <!--PROFILE IMAGE GOES HERE /portfolioitems/{{id}}}/image-->
                                        <img class="img-fluid"
                                            src={{user.photo}}
                                            alt="course" style="height: 256px;">
                                        <span class="overlay__content">
                                            <span class="overlay__action d-flex flex-column text-center">

                                            </span>
                                        </span>
                                    </a>


                                    <div class="mdk-reveal__content">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex">
                                                    <a class="card-title" href="#">{{user.content.name}}</a>
                                                </div>
                                                <a href="#"
                                                    class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!--LOAD MORE-->
                    <div id="hasNextPage">
                        <ul class="pagination justify-content-center pagination-sm" id="button-replace">

                            <button *ngIf="totalElements != actualElements" (click)="loadMore()" class="btn btn-accent"
                                id="load-more">Cargar más</button>

                        </ul>
                    </div>

                </div>
            </div>
        </div>



    </div>

    <!-- // END drawer-layout -->

</div>