<!--Footer-->
<div class="js-fix-footer bg-white border-top-2">
  <div class="bg-footer page-section py-lg-32pt">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
          <p class="text-white-70 mb-8pt"><strong>Siguenos</strong></p>
          <nav class="nav nav-links nav--flush">
            <a href="#" class="nav-link mr-8pt"><img
              src="assets/images/icon/footer/facebook-square@2x.png" width="24"
              height="24" alt="Facebook"></a>
            <a href="#" class="nav-link mr-8pt"><img
              src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24"
              alt="Twitter"></a>
            <a href="#" class="nav-link mr-8pt"><img
              src="assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24"
              alt="Vimeo"></a>
            <a href="#" class="nav-link"><img
              src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24"
              alt="YouTube"></a>
          </nav>
        </div>
        <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">

        </div>
        <div class="col-md-4 text-md-right">
          <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
            <a href="" class="text-white-70 text-underline mr-16pt">Terminos</a>
            <a href="" class="text-white-70 text-underline">Politica de privacidad</a>
          </p>
          <p class="text-white-50 mb-0">Copyright 2019 &copy; Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
