<!-- Header -->
<div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background"
     data-fixed data-condenses>
  <div class="mdk-header__content">

    <!--Navbar-->
    <div class="navbar navbar-expand-sm navbar-dark bg-dark pr-0 pr-md-16pt" id="default-navbar"
         data-primary>

      <!-- Navbar toggler -->
      <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button"
              data-toggle="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Brand -->
      <a [routerLink]="['']" class="navbar-brand">
        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/logo/logo.png"
             width="30" alt="Tutorio">
        <span class="d-none d-md-block">PortHub</span>
      </a>

      <ul class="nav navbar-nav mr-16pt d-none d-md-flex">
        <li class="nav-item">
          <a [routerLink]="['/search']" class="nav-link"><i class="fas fa-search fa-sm mr-4pt d-flex align-items-center"></i>Explorar</a>
        </li>

        <li *ngIf="imLogged()" class="nav-item">
          <a (click)="this.goToActiveTemplate()" class="nav-link"><i
            class="fas fa-user fa-sm mr-4pt d-flex align-items-center"></i>Perfil</a>
        </li>

        <li *ngIf="!imLogged()" class="nav-item">
          <a [routerLink]="['/login']" class="nav-link"><i
            class="fas fa-user fa-sm mr-4pt d-flex align-items-center"></i>Perfil</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/shop']" class="nav-link"><i class="fas fa-shopping-bag mr-4pt d-flex align-items-center"></i>Tienda</a>
        </li>
        <li *ngIf="imLogged()" class="nav-item">
          <a [routerLink]="['/chats']" class="nav-link"><i class="fas fa-comments mr-4pt d-flex align-items-center"></i>Conversaciones</a>
        </li>
      </ul>

      <div class="search-form search-form--black search-form-courses d-none d-md-flex">
        <input #user type="text" class="form-control" placeholder="Descubre un nuevo portfolio">
        <button class="btn" (click)="search(user.value)" role="button"><i class="material-icons">search</i></button>
    </div>

      <!-- Main Navigation -->
      <ul class="nav navbar-nav ml-auto flex-nowrap" style="white-space: nowrap;">

        <li *ngIf="imLogged()" class="nav-item">
          <a [routerLink]="['/settings-edit-account']" class="nav-link">
            <i class="material-icons">settings</i>
            <span class="sr-only">Settings</span>
          </a>
        </li>

        <li *ngIf="imAdmin()" class="d-none d-sm-flex nav-item text-white">
          <button type="button" class="btn btn-success" [routerLink]="['/admin']">Administrador</button>
        </li>

        <li *ngIf="!imLogged()" class="d-none d-sm-flex nav-item">
          <a [routerLink]="['/login']" class="btn btn-accent">Login</a>
        </li>

        <li *ngIf="imLogged()" class="d-none d-sm-flex nav-item">
          <form>
              <button type="button" class="btn btn-accent" (click)="logOut()" [routerLink]="['']">Logout</button>
          </form>
        </li>

      </ul>

    </div>

  </div>
</div>
