<!--Main part-->
<div class="mdk-header-layout__content page-content pb-0">
    <div class="bg-gradient-primary py-32pt">
        <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
            <div class="flex">
                <h1 class="text-white flex mb-0">Vaya, ha ocurrido un error.</h1>
            </div>
        </div>
    </div>
    <div class="page-section bg-white">
        <div class="container page__container">
            <div class="col-sm-6 mx-auto">

                <div class="card border-left-4 card-body card--raised border-left-primary">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex">
                            <h4 class="card-title">Volver a un lugar seguro.</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-70">Algo ha salido mal, pero siempre puedes volver a la página de inicio.</p>
                        <a href="/" class="btn btn-accent">Volver a inicio</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- END Main part -->
