<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content pb-0">
  <div class="bg-gradient-primary py-32pt">
      <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
          <div class="flex">
              <h1 class="text-white flex mb-0">Cierre de sesión</h1>
              <p class="lead text-white-50">Administración de sesión</p>
          </div>
          <p class="d-sm-none">Su sesión ha sido cerrada correctamente</p>
      </div>
  </div>
  <div class="page-section bg-white">
      <div class="container page__container">
          <div class="col-sm-6 mx-auto">

              <form action="/">

                  <div class="form-group">
                      <label>Sesión cerrada con éxito</label>
                      <label>Ya ha cerrado su sesión de Porthub, puede seguir navegando
                          por el sistema sin las funcionalidades de haber iniciado sesión.</label>
                  </div>
                  <!--
                  <input type="hidden" name="_csrf" value="{{token}}"/>
                  -->
                  <div class="text-center">
                      <a href="/" class="btn btn-accent">Inicio</a>
                  </div>
              </form>
          </div>
      </div>
  </div>

</div>
<!-- // END Header Layout Content -->
