<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content ">

  <app-info></app-info>


  <div class="container page__container">
      <div>
          <div class="row">
              <div class="col-lg-9">
                  <div class="page-section">
                      <h4>Información básica</h4>
                      <div class="list-group list-group-form">

                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Foto de perfil:</label>
                                  <div class="col-sm-9 media align-items-center">
                                      <a href="" class="media-left mr-16pt">
                                          <img src="/assets/images/people/110/bg-masthead.jpg" alt="people"
                                               class="rounded-circle" width="56">
                                      </a>
                                      <div class="media-body">
                                          <div class="custom-file">
                                              <input #photo type="file" class="custom-file-input" id="profileImg" name="profileImg"  accept=".jpg, .jpeg, .png">
                                              <label class="custom-file-label" for="profileImg">Elige un
                                                  archivo</label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Nombre de usuario</label>
                                  <div class="col-sm-9">
                                      <input #id id="id" name="id" type="text" class="form-control" value="{{user.content.id}}" disabled>
                                  </div>
                              </div>
                          </div>

                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Nombre</label>
                                  <div class="col-sm-9">
                                      <input #name id="name" name="name" type="text" class="form-control" value="{{user.content.name}}">
                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Apellidos</label>
                                  <div class="col-sm-9">
                                      <input #surname id="surname" name="surname" type="text" class="form-control" value="{{user.content.surname}}">
                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Correo</label>
                                  <div class="col-sm-9">

                                      <input #email id="email" name="email" type="email" class="form-control" value="{{user.content.email}}">

                                      <small class="form-text text-muted">Si desea cambiar su correo, deberá confirmarlo otra vez.</small>

                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Teléfono</label>
                                  <div class="col-sm-9">

                                      <input #phoneNumber id="phoneNumber" name="phoneNumber" type="text" class="form-control" value="{{user.content.phoneNumber}}">

                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Ciudad</label>
                                  <div class="col-sm-9">

                                    <input #city id="city" name="city" type="text" class="form-control" value="{{user.content.city}}">

                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Nivel educativo</label>
                                  <div class="col-sm-9">

                                    <input #degree id="degree" name="degree" type="text" class="form-control" value="{{user.content.degree}}">

                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Disponibilidad</label>
                                  <div class="col-sm-9">

                                    <input #freelance id="freelance" name="freelance" type="text" class="form-control" value="{{user.content.freelance}}">

                                  </div>
                              </div>
                          </div>
                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Área de trabajo</label>
                                  <div class="col-sm-9">
                                      <select #category class="custom-select" id="category" name="category" required>
                                          <option value="{{user.content.category}}">Elige...</option>
                                          <option value="Ingeniero">Ingeniería</option>
                                          <option value="Diseñador">Diseño</option>
                                          <option value="Fotografo">Fotografía</option>
                                          <option value="Empresario">Empresa</option>
                                      </select>
                                  </div>
                              </div>
                          </div>

                          <div class="list-group-item">
                              <div class="form-group row mb-0">
                                  <label class="col-form-label col-sm-3">Descríbete</label>
                                  <div class="col-sm-9">

                                      <textarea #description id="description" name="description" rows="3" class="form-control" value="{{user.content.description}}"></textarea>

                                  </div>
                              </div>
                          </div>
                          <button (click)="update(photo,id.value,name.value,surname.value,email.value,phoneNumber.value,city.value,degree.value,freelance.value,category.value,description.value)" [routerLink]="['']" type="submit" class="btn btn-accent">Guardar cambios</button>
                      </div>

                  </div>

              </div>

              <!--
                <input type="hidden" name="_csrf" value="{{token}}"/>
              -->
                <app-settings-edit-account-panel></app-settings-edit-account-panel>

          </div>
        </div>
  </div>
</div>
