<!-- Header -->
<div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background"
     data-fixed data-condenses>
  <div class="mdk-header__content">

    <!--Navbar-->
    <div class="navbar navbar-expand-sm navbar-dark bg-dark pr-0 pr-md-16pt" id="default-navbar"
         data-primary>

      <!-- Navbar toggler -->
      <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button"
              data-toggle="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Brand -->
      <a href="index.html" class="navbar-brand">
        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/logo/logo.png"
             width="30" alt="Tutorio">
        <span class="d-none d-md-block">PortHub</span>
      </a>

      <ul class="nav navbar-nav mr-16pt d-none d-md-flex">
        <li class="nav-item">
          <a href="search.html" class="nav-link"><i class="fas fa-search fa-sm mr-4pt d-flex align-items-center"></i>Explorar</a>
        </li>
        <li class="nav-item">
          <a href="templates/premium/index.html" class="nav-link"><i
            class="fas fa-user fa-sm mr-4pt d-flex align-items-center"></i>Perfil</a>
        </li>
        <li class="nav-item">
          <a href="shop.html" class="nav-link"><i class="fas fa-shopping-bag mr-4pt d-flex align-items-center"></i>Tienda</a>
        </li>
      </ul>

      <form class="search-form search-form--black search-form-courses d-none d-md-flex"
            action="search.html">
        <input type="text" class="form-control" placeholder="Descubre un nuevo portfolio">
        <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
      </form>

      <!-- Main Navigation -->
      <ul class="nav navbar-nav ml-auto flex-nowrap" style="white-space: nowrap;">
        <li class="nav-item">
          <a href="student-edit-account.html" class="nav-link">
            <i class="material-icons">settings</i>
            <span class="sr-only">Login</span>
          </a>
        </li>
        <li class="d-none d-sm-flex nav-item">
          <a href="login.html" class="btn btn-accent">Login</a>
        </li>

      </ul>

    </div>

  </div>
</div>
