<div class="footer js-fix-footer">
  <div class="container">
    <nav class="nav nav-inline">
      <a href="index.html" class="nav-link">{{ brand }}</a>
      <a href="paths.html" class="nav-link">Learning Paths</a>
      <a href="courses.html" class="nav-link">Courses</a>
    </nav>
    <div class="copyright">
      <h4>
        <img src="assets/images/logo/white-100.svg" width="30" alt="{{ brand }}">
        {{ brand }}
      </h4>
      <p>Copyright 2016 &copy; All rights reserved.</p>
    </div>
  </div>
</div>