<div class="js-fix-footer {{ footer_bg }} border-top-2">
  <div class="container page-section py-lg-48pt">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-6 col-md-4 mb-24pt mb-md-0">
            <h4 class="{{ footer_heading_class }}">Learn</h4>
            <nav class="nav nav-links nav--flush flex-column">
              <a class="nav-link" href="library.html">Library</a>
              <a class="nav-link" href="library-featured.html">Featured</a>
              <a class="nav-link" href="library-filters.html">Explore</a>
              <a class="nav-link" href="paths.html">Learning Paths</a>
            </nav>
          </div>
          <div class="col-6 col-md-4 mb-24pt mb-md-0">
            <h4 class="{{ footer_heading_class }}">Join us</h4>
            <nav class="nav nav-links nav--flush flex-column">
              <a class="nav-link" href="pricing.html">Pricing</a>
              <a class="nav-link" href="login.html">Login</a>
              <a class="nav-link" href="signup.html">Sign Up</a>
              <a class="nav-link" href="signup-payment.html">Payment</a>
            </nav>
          </div>
          <div class="col-6 col-md-4 mb-32pt mb-md-0">
            <h4 class="{{ footer_heading_class }}">Community</h4>
            <nav class="nav nav-links nav--flush flex-column">
              <a class="nav-link" href="student-discussions.html">Discussions</a>
              <a class="nav-link" href="student-discussions-ask.html">Ask Question</a>
              <a class="nav-link" href="student-profile.html">Student Profile</a>
              <a class="nav-link" href="instructor-profile.html">Instructor Profile</a>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-md-right">
        <p class="text-70 brand justify-content-md-end">
          <img class="brand-icon" src="{{ footer_logo }}" width="30" alt="{{ brand }}"> {{ brand }}
        </p>
        <p class="text-muted mb-0 mb-lg-16pt">{{ brand }} is an online learning platform that helps anyone achieve their personal and professional goals.</p>
      </div>
    </div>
  </div>
  <div class="bg-footer page-section py-lg-32pt">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
          <p class="text-white-70 mb-8pt"><strong>Follow us</strong></p>
          <nav class="nav nav-links nav--flush">
            <a href="#" class="nav-link mr-8pt"><img src="assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
            <a href="#" class="nav-link mr-8pt"><img src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
            <a href="#" class="nav-link mr-8pt"><img src="assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24" alt="Vimeo"></a>
            <a href="#" class="nav-link"><img src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
          </nav>
        </div>
        <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
          <a href="" class="btn btn-outline-white">English <span class="icon--right material-icons">arrow_drop_down</span></a>
        </div>
        <div class="col-md-4 text-md-right">
          <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
            <a href="" class="text-white-70 text-underline mr-16pt">Terms</a>
            <a href="" class="text-white-70 text-underline">Privacy policy</a>
          </p>
          <p class="text-white-50 mb-0">Copyright 2019 &copy; All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>