{% extends 'layouts/default.html' %}

{% block pageHeader %}
  <div class="bg-gradient-primary border-bottom-white py-32pt">
    <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
      <img src="assets/images/illustration/student/128/white.svg" width="104" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
      <div class="flex mb-32pt mb-md-0">
        <h2 class="text-white mb-0">Alexander Watson</h2>
        <p class="lead text-white-50 d-flex align-items-center">Student <span class="ml-16pt d-flex align-items-center"><i class="material-icons icon-16pt mr-4pt">opacity</i> 2,300 IQ</span></p>
      </div>
      <a href="{{ prefix or '' }}student-edit-account.html" class="btn btn-outline-white">Edit account</a>
    </div>
  </div>
  {% if submenu !== false %}
    {% include 'layouts/_website-student-submenu.html' %}
  {% endif %}
{% endblock %}