<div class="mdk-header-layout__content page-content pb-0">

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-responsive-width="768px" data-push>

        <!-- MAIN CONTENT -->
        <div class="mdk-drawer-layout__content">
            <div class="page-section">
                <div class="container page__container">


                    <div class="page-heading">
                        <h4>Resultados</h4>
                        <p class="ml-sm-auto text-70 mb-0"><strong>2,000</strong> resultados en Todas</p>
                    </div>

                    <div class="row">
                        <!--SINGLE RESULT CARD-->
                        <div *ngFor="let user of users" class="col-lg-4 col-xl-3 col-sm-6">

                            <div>

                                <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                                    data-partial-height="40" data-toggle="popover" data-trigger="click">


                                    <a href="#" data-position="center">
                                        <!--PROFILE IMAGE GOES HERE /portfolioitems/{{id}}}/image-->
                                        <img class="img-fluid"
                                            src="assets/images/people/256/256_rsz_florian-perennes-594195-unsplash.jpg"
                                            alt="course" style="height: 256px;">
                                        <span class="overlay__content">
                                            <span class="overlay__action d-flex flex-column text-center">

                                            </span>
                                        </span>
                                    </a>


                                    <div class="mdk-reveal__content">
                                        <div class="card-body">
                                            <div class="d-flex">
                                                <div class="flex">
                                                    <a class="card-title" href="#">{{user.name}}</a>
                                                </div>
                                                <a href="#"
                                                    class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!--LOAD MORE-->
                    <div id="hasNextPage">
                        <ul class="pagination justify-content-center pagination-sm" id="button-replace">
                            
                            <button class="btn btn-accent" id="load-more">Cargar más</button>
                            
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- DRAWER (FILTERS) -->
        <div class="mdk-drawer js-mdk-drawer" id="filters-drawer">
            <div class="mdk-drawer__content">
                <div class="mdk-drawer__inner" data-perfect-scrollbar data-perfect-scrollbar-wheel-propagation="true">
                    <div class="pt-md-32pt pt-lg-64pt">
                        <div class="px-24pt mb-24pt mb-md-48pt filter-section">
                            <ul class="accordion js-accordion m-0" id="library-category">
                                <li class="accordion__item open">
                                    <a class="accordion__toggle" data-toggle="collapse" data-parent="#library-category"
                                        href="#library-all">
                                        <span class="flex">Profesión</span>
                                        <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                    </a>
                                    <nav class="accordion__menu collapse show" id="library-all">
                                        <a class="accordion__menu-link active" href="#">Todas</a>
                                        <div>
                                            <a class="accordion__menu-link" href="#library-development"
                                                data-toggle="collapse">Ingeniero</a>
                                            <div class="collapse" id="library-development">
                                                <nav class="accordion__submenu">
                                                    <a href="#">Informático</a>
                                                    <a href="#">Industrial</a>
                                                    <a href="#">Caminos</a>
                                                </nav>
                                            </div>
                                        </div>
                                        <a class="accordion__menu-link" href="#">Diseñador gráfico</a>
                                        <a class="accordion__menu-link" href="#">Fotógrafo</a>
                                        <a class="accordion__menu-link" href="#">Empresario</a>
                                    </nav>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- // END drawer-layout -->

</div>