<div class="mdk-header-layout js-mdk-header-layout">

  <!-- Header Layout Content -->
  <div class="mdk-header-layout__content page-content ">

    <!--First view-->
    <div class="mdk-box mdk-box--bg-gradient-primary bg-dark js-mdk-box position-relative overflow-hidden mb-0"
         data-effects="parallax-background blend-background">
      <div class="mdk-box__bg">
        <div class="mdk-box__bg-front"
             style="background-image: url(assets/images/1280_work-station-straight-on-view.jpg);"></div>
      </div>
      <div class="mdk-box__content">
        <div class="container page__container py-64pt py-md-112pt">
          <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 col-lg-5 order-1 order-md-0">
              <h1 class="text-white">Encuentra <br>

                <span class="d-block d-md-inline-block text"></span>
              </h1>
              <p class="lead mb-32pt mb-lg-48pt text-white">Desarrolladores, diseñadores, fotógrafos y
                amantes de la tecnología han decidido unirse a PortHub para darse a
                conocer y mostrar al mundo de lo que son capaces de hacer.</p>
              <a href="search.html" class="btn btn-lg btn-white btn--raised mb-16pt">Echa un
                vistazo</a>
            </div>
            <div class="col-md-6 col-lg-7 order-0 order-md-1 text-center mb-32pt mb-md-0">
              <img src="assets/images/macbook.png" alt="macbook" class="home-macbook">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Top Portfolios-->
    <div class="page-section border-bottom-2">
      <div class="container page__container">
        <div class="row align-items-end mb-16pt mb-md-32pt">

          <div class="col-md-auto mb-32pt mb-md-0">
            <div class="page-headline page-headline--title text-center text-md-left p-0">
              <h2>Top Portfolios</h2>
            </div>
          </div>

          <div class="col-md text-center text-md-right d-flex justify-content-md-end align-items-center flex-wrap"
               style="white-space: nowrap;">
            <h5 class="mr-24pt mb-md-0 d-md-inline-block">Categorías populares</h5>
            <a href="search.html" class="chip mb-16pt mb-md-0 chip-secondary">Desarrollo
              Web</a>
            <a href="search.html"
               class="chip mb-16pt mb-md-0 chip-outline-secondary">Diseño</a>
            <a href="search.html"
               class="chip mb-16pt mb-md-0 chip-outline-secondary">Fotografía</a>
            <a href="search.html"
               class="chip mb-16pt mb-md-0 chip-outline-secondary d-md-none d-lg-inline-flex">Empresa</a>
          </div>

        </div>

        <!--Portfolios Grid-->
        <div class="row">

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_90-jiang-640827-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_clem-onojeghuo-150467-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_florian-perennes-594195-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_james-gillespie-714755-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_karl-s-973833-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_nicolas-horn-689011-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/256_rsz_sharina-mae-agellon-377466-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Portfolio preview-->
          <div class="col-sm-6 col-md-4 col-lg-3">

            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                 data-partial-height="40" data-toggle="popover" data-trigger="click">

              <a href="../../templates/free/index.html" class="js-image" data-position="center">
                <img src="assets/images/people/256/265_rsz_mubariz-mehdizadeh-364026-unsplash.jpg" alt="course">
              </a>

              <span
                class="corner-ribbon corner-ribbon--default-right-top corner-ribbon--shadow bg-accent text-white">NEW</span>

              <div class="mdk-reveal__content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex">
                      <a class="card-title" href="../../templates/free/index.html">Potfolio de Cristian</a>
                      <small class="text-50 font-weight-bold mb-4pt">Cristian Murray</small>
                    </div>
                    <a href="#"
                       class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                  </div>
                </div>
              </div>
            </div>

          </div>



        </div>

        <div class="pt-md-16pt text-center">
          <a href="search.html" class="btn btn-outline-secondary">Ver más</a>
        </div>

      </div>
    </div>

    <!--Main categories-->
    <div class="page-section bg-white border-bottom-2">
      <div class="container page__container">

        <div class="page-headline text-center">
          <h2>Categorias</h2>
          <p class="lead text-black-70 measure-lead mx-auto">Encuentra a cientos de profesionales de un
            area específica de una forma más sencilla en función de su trabajo</p>
        </div>

        <!--Most popular categories-->
        <div class="row d-block js-mdk-carousel">
          <div class="mdk-carousel__content">

            <!--Category 1-->
            <div class="col-12 col-sm-6 col-md-4">

              <a href="search.html"
                 class="card stack stack--hidden-hover card-featured-path overlay js-overlay">
                                    <span class="card-featured-path__content">
                                        <span data-position="center" class="js-image" data-height="96">
                                            <img src="assets/images/1280_derxvssqndm-artem-sapegin.jpg" alt="course">
                                        </span>
                                        <span class="overlay__content">
                                            <span class="overlay__action card-title mb-0">Desarrollo</span>
                                        </span>
                                    </span>
              </a>

            </div>

            <!--Category 2-->
            <div class="col-12 col-sm-6 col-md-4">

              <a href="search.html"
                 class="card stack stack--hidden-hover card-featured-path overlay js-overlay">
                                    <span class="card-featured-path__content">
                                        <span data-position="left" class="js-image" data-height="96">
                                            <img src="assets/images/1280_work-station-straight-on-view.jpg" alt="course">
                                        </span>
                                        <span class="overlay__content">
                                            <span class="overlay__action card-title mb-0">Fotografía</span>
                                        </span>
                                    </span>
              </a>

            </div>

            <!--Category 3-->
            <div class="col-12 col-sm-6 col-md-4">

              <a href="search.html"
                 class="card stack stack--hidden-hover card-featured-path overlay js-overlay">
                                    <span class="card-featured-path__content">
                                        <span data-position="center" class="js-image" data-height="96">
                                            <img src="assets/images/1280_writing-down-goals_4460x4460.jpg" alt="course">
                                        </span>
                                        <span class="overlay__content">
                                            <span class="overlay__action card-title mb-0">Marketing</span>
                                        </span>
                                    </span>
              </a>

            </div>

          </div>
        </div>

        <!--Other categories-->
        <div class="row mt-16pt mt-lg-32pt">

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/angular_40x40@2x.png" width="40" height="40" alt="Angular"
                   class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Finanzas</span>
                                    <span class="text-muted d-flex lh-1">24 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/react_40x40@2x.png" width="40" height="40"
                   alt="React Native" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Scrum</span>
                                    <span class="text-muted d-flex lh-1">18 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/swift_40x40@2x.png" width="40" height="40" alt="Swift"
                   class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Desarrollo de IOS</span>
                                    <span class="text-muted d-flex lh-1">22 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/wordpress_40x40@2x.png" width="40" height="40"
                   alt="WordPress" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Empresas</span>
                                    <span class="text-muted d-flex lh-1">13 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/swift_40x40@2x.png" width="40" height="40" alt="Swift"
                   class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Ciencias</span>
                                    <span class="text-muted d-flex lh-1">22 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/wordpress_40x40@2x.png" width="40" height="40"
                   alt="WordPress" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Artes</span>
                                    <span class="text-muted d-flex lh-1">13 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/devops_40x40@2x.png" width="40" height="40"
                   alt="Development Tools" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Videojuegos</span>
                                    <span class="text-muted d-flex lh-1">5 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/react_40x40@2x.png" width="40" height="40"
                   alt="React Native" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Deportes</span>
                                    <span class="text-muted d-flex lh-1">18 portfolios</span>
                                </span>
            </a>
          </div>

        </div>

        <div class="pt-8pt pt-md-32pt text-center">
          <a href="search.html" class="btn btn-outline-secondary">Ver más</a>
        </div>

      </div>
    </div>

    <!--Footer-->
    <div class="js-fix-footer bg-white border-top-2">
      <div class="bg-footer page-section py-lg-32pt">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
              <p class="text-white-70 mb-8pt"><strong>Siguenos</strong></p>
              <nav class="nav nav-links nav--flush">
                <a href="#" class="nav-link mr-8pt"><img
                  src="assets/images/icon/footer/facebook-square@2x.png" width="24"
                  height="24" alt="Facebook"></a>
                <a href="#" class="nav-link mr-8pt"><img
                  src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24"
                  alt="Twitter"></a>
                <a href="#" class="nav-link mr-8pt"><img
                  src="assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24"
                  alt="Vimeo"></a>
                <a href="#" class="nav-link"><img
                  src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24"
                  alt="YouTube"></a>
              </nav>
            </div>
            <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">

            </div>
            <div class="col-md-4 text-md-right">
              <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                <a href="" class="text-white-70 text-underline mr-16pt">Terminos</a>
                <a href="" class="text-white-70 text-underline">Politica de privacidad</a>
              </p>
              <p class="text-white-50 mb-0">Copyright 2019 &copy; Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


