<div class="mdk-header-layout js-mdk-header-layout">

  <!-- Header Layout Content -->
  <div class="mdk-header-layout__content page-content ">

    <!--First view-->
    <div class="mdk-box mdk-box--bg-gradient-primary bg-dark js-mdk-box position-relative overflow-hidden mb-0"
         data-effects="parallax-background blend-background">
      <div class="mdk-box__bg">
        <div class="mdk-box__bg-front"
             style="background-image: url(assets/images/1280_work-station-straight-on-view.jpg);"></div>
      </div>
      <div class="mdk-box__content">
        <div class="container page__container py-64pt py-md-112pt">
          <div class="row align-items-center text-center text-md-left">
            <div class="col-md-6 col-lg-5 order-1 order-md-0">
              <h1 class="text-white">Encuentra <br>

                <span class="d-block d-md-inline-block text"></span>
              </h1>
              <p class="lead mb-32pt mb-lg-48pt text-white">Desarrolladores, diseñadores, fotógrafos y
                amantes de la tecnología han decidido unirse a PortHub para darse a
                conocer y mostrar al mundo de lo que son capaces de hacer.</p>
              <a href="search.html" class="btn btn-lg btn-white btn--raised mb-16pt">Echa un
                vistazo</a>
            </div>
            <div class="col-md-6 col-lg-7 order-0 order-md-1 text-center mb-32pt mb-md-0">
              <img src="assets/images/macbook.png" alt="macbook" class="home-macbook">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Main categories-->
    <div class="page-section bg-white border-bottom-2">
      <div class="container page__container">

        <div class="page-headline text-center">
          <h2>Categorias</h2>
          <p class="lead text-black-70 measure-lead mx-auto">Encuentra a cientos de profesionales de un
            area específica de una forma más sencilla en función de su trabajo</p>
        </div>

        <!--Most popular categories-->
        <div class="row d-block js-mdk-carousel">
          <div class="mdk-carousel__content">

            <!--Category 1-->
            <div class="col-12 col-sm-6 col-md-4">

              <a href="search.html"
                 class="card stack stack--hidden-hover card-featured-path overlay js-overlay">
                                    <span class="card-featured-path__content">
                                        <span data-position="center" class="js-image" data-height="96">
                                            <img src="assets/images/1280_derxvssqndm-artem-sapegin.jpg" alt="course">
                                        </span>
                                        <span class="overlay__content">
                                            <span class="overlay__action card-title mb-0">Desarrollo</span>
                                        </span>
                                    </span>
              </a>

            </div>

            <!--Category 2-->
            <div class="col-12 col-sm-6 col-md-4">

              <a href="search.html"
                 class="card stack stack--hidden-hover card-featured-path overlay js-overlay">
                                    <span class="card-featured-path__content">
                                        <span data-position="left" class="js-image" data-height="96">
                                            <img src="assets/images/1280_work-station-straight-on-view.jpg" alt="course">
                                        </span>
                                        <span class="overlay__content">
                                            <span class="overlay__action card-title mb-0">Fotografía</span>
                                        </span>
                                    </span>
              </a>

            </div>

            <!--Category 3-->
            <div class="col-12 col-sm-6 col-md-4">

              <a href="search.html"
                 class="card stack stack--hidden-hover card-featured-path overlay js-overlay">
                                    <span class="card-featured-path__content">
                                        <span data-position="center" class="js-image" data-height="96">
                                            <img src="assets/images/1280_writing-down-goals_4460x4460.jpg" alt="course">
                                        </span>
                                        <span class="overlay__content">
                                            <span class="overlay__action card-title mb-0">Marketing</span>
                                        </span>
                                    </span>
              </a>

            </div>

          </div>
        </div>

        <!--Other categories-->
        <div class="row mt-16pt mt-lg-32pt">

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/angular_40x40@2x.png" width="40" height="40" alt="Angular"
                   class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Finanzas</span>
                                    <span class="text-muted d-flex lh-1">24 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/react_40x40@2x.png" width="40" height="40"
                   alt="React Native" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Scrum</span>
                                    <span class="text-muted d-flex lh-1">18 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/swift_40x40@2x.png" width="40" height="40" alt="Swift"
                   class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Desarrollo de IOS</span>
                                    <span class="text-muted d-flex lh-1">22 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/wordpress_40x40@2x.png" width="40" height="40"
                   alt="WordPress" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Empresas</span>
                                    <span class="text-muted d-flex lh-1">13 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/swift_40x40@2x.png" width="40" height="40" alt="Swift"
                   class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Ciencias</span>
                                    <span class="text-muted d-flex lh-1">22 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/wordpress_40x40@2x.png" width="40" height="40"
                   alt="WordPress" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Artes</span>
                                    <span class="text-muted d-flex lh-1">13 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/devops_40x40@2x.png" width="40" height="40"
                   alt="Development Tools" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Videojuegos</span>
                                    <span class="text-muted d-flex lh-1">5 portfolios</span>
                                </span>
            </a>
          </div>

          <!--Category-->
          <div class="col-i8-6 col-md-3 mb-16pt">
            <a href="search.html" class="media">
              <img src="assets/images/paths/react_40x40@2x.png" width="40" height="40"
                   alt="React Native" class="media-left rounded">
              <span class="media-body">
                                    <span class="card-title text-body d-block mb-0">Deportes</span>
                                    <span class="text-muted d-flex lh-1">18 portfolios</span>
                                </span>
            </a>
          </div>

        </div>

        <div class="pt-8pt pt-md-32pt text-center">
          <a href="search.html" class="btn btn-outline-secondary">Ver más</a>
        </div>

      </div>
    </div>


  </div>

</div>


