{{> header}}

<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content ">

    <div class="bg-gradient-primary border-bottom-white py-32pt">
        <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
            <img src="app/assets/images/illustration/student/128/white.svg" width="104"
                 class="mr-md-32pt mb-32pt mb-md-0" alt="">
            <div class="flex mb-32pt mb-md-0">
                <h2 class="text-white mb-0">Administrador</h2>
                <!--
                <h3 class="text-white mb-0">Email: <span class="font-weight-light">alexander.watson@fake-mail.com</span></h3>
                <h4 class="text-white mb-0 lowe">Telefono: <span class="font-weight-light">666 666 666</span></h4>
                <h4 class="text-white mb-0 lowe">Edad: <span class="font-weight-light">24</span></h4>
                -->
            </div>
        </div>
    </div>

    <div class="navbar navbar-expand-sm navbar-dark-white bg-gradient-primary p-sm-0 mb-0">
        <div class="container page__container">

            <!-- Navbar toggler -->
            <button class="navbar-toggler ml-n16pt" type="button" data-toggle="collapse" data-target="#navbar-submenu2">
                <span class="material-icons">people_outline</span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-submenu2">
                <div class="navbar-collapse__content pb-16pt pb-sm-0">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Lista de usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a href="/banned-users" class="nav-link">Usuarios penalizados</a>
                        </li>
                        <li class="nav-item">
                            <a href="/templates-list" class="nav-link">Templates disponibles</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/app-graphics" class="nav-link">Información general</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="container page__container">
        <div>
            <div class="row">
                <div class="col-lg-9">

                    <div class="page-section">
                        <h4>Información general de la aplicación</h4>
                        <div class="list-group list-group-form">
                            <div class="list-group-item">

                                <div class="chart">
                                    <canvas id="usersGraphic" class="chart-canvas"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>

<script>
    var lineGraphic = document.getElementById("usersGraphic");

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var data = {
        labels: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sept", "Oct", "Nov", "Dic"],
        datasets: [{
            label: "Usuarios en PortHub",
            data: [0, 59, 75, 20, 20, 55, 40,59, 75, 20, 20, 55],
        }]
    };

    var chartOptions = {
        legend: {
            display: true,
            position: 'top',
            labels: {
                boxWidth: 80,
                fontColor: 'black'
            }
        }
    };

    var lineChart = new Chart(lineGraphic, {
        type: 'line',
        data: data,
        options: chartOptions
    });
</script>

<!-- Global Settings -->
<script src="app/assets/js/settings.js"></script>

<!-- Chart.js Library -->
<script src="app/assets/vendor/Chart.min.js"></script>

<!-- Chart.js Wrapper -->
<script src="app/assets/js/chartjs.js"></script>

{{> footer}}
