        {{> header}}


        </div>
        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <img src="/app/assets/images/illustration/student/128/white.svg" width="104" class="mr-md-32pt mb-32pt mb-md-0" alt="">
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">Administrador</h2>
                        <!--
                        <h3 class="text-white mb-0">Email: <span class="font-weight-light">alexander.watson@fake-mail.com</span></h3>
                        <h4 class="text-white mb-0 lowe">Telefono: <span class="font-weight-light">666 666 666</span></h4>
                        <h4 class="text-white mb-0 lowe">Edad: <span class="font-weight-light">24</span></h4>
                        -->
                    </div>
                </div>
            </div>

            <div class="navbar navbar-expand-sm navbar-dark-white bg-gradient-primary p-sm-0 mb-0">
                <div class="container page__container">

                    <!-- Navbar toggler -->
                    <button class="navbar-toggler ml-n16pt" type="button" data-toggle="collapse" data-target="#navbar-submenu2">
                        <span class="material-icons">people_outline</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-submenu2">
                        <div class="navbar-collapse__content pb-16pt pb-sm-0">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active">
                                    <a href="/admin" class="nav-link">Lista de usuarios</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/banned/users" class="nav-link">Usuarios penalizados</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/templates/list" class="nav-link">Templates disponibles</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/app/graphics" class="nav-link">Información general</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="container page__container">
                <form action="/settings/edit/account">
                    <div class="row">
                        <div class="col-lg-9">

                            <div class="page-section">
                                <h4>Usuarios</h4>
                                <div class="list-group list-group-form">
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Nombre</label>
                                            <label class="col-form-label col-sm-6">Email</label>
                                            <!--
                                            <div class="col-sm-3">
                                                <button class="btn btn-accent">Penalizar</button>
                                            </div>
                                            -->
                                        </div>
                                        {{#users}}
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">{{name}}</label>
                                            <label class="col-form-label col-sm-6">{{email}}</label>
                                        </div>
                                        {{/users}}
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                </form>
            </div>
        </div>

        {{> footer}}
