{{> header}}


<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content pb-0">
    <div class="py-32pt" style="background-color: #c80940 !important;">
        <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
            <div class="flex">
                <h1 class="text-white flex mb-0">Algo ha ido mal</h1>
                <p class="lead text-white-50">Error al cambiar contraseña</p>
            </div>
            <p class="d-sm-none">Parece que ha ocurrido un error</p>
        </div>
    </div>
    <div class="page-section bg-white">
        <div class="container page__container">
            <div class="col-sm-6 mx-auto">

                <div class="card border-left-4 card-body card--raised border-left-accent">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex">
                            <h4 class="card-title">Las contraseñas introducidas no coinciden</h4>
                            <p class="card-subtitle">Intentalo de nuevo</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-70">Escriba la misma contraseña en ambos campos para no volver a tener este error.</p>
                        <a href="/settings/edit/account/password" class="btn btn-accent">Volver a intentar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- // END Header Layout Content -->

</div>
<!-- // END Header Layout -->



{{>footer}}