{{> header}}


<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content pb-0">
    <div class="bg-gradient-primary py-32pt">
        <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
            <div class="flex">
                <h1 class="text-white flex mb-0">Proyecto borrado</h1>
                <p class="lead text-white-50">Administración de proyectos</p>
            </div>
            <p class="d-sm-none">Su proyecto ha sido borrado correctamente</p>
        </div>
    </div>
    <div class="page-section bg-white">
        <div class="container page__container">
            <div class="col-sm-6 mx-auto">

                <div class="card border-left-4 card-body card--raised border-left-primary">
                    <div class="card-header d-flex align-items-center">
                        <div class="flex">
                            <h4 class="card-title">Un placer</h4>
                            <p class="card-subtitle">Su proyecto ha sido borrado</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="text-70">La eliminación se ha realizado con exito, puedes añadir más proyectos cuando quieras</p>
                        <a href="/settings/edit/account/portfolioitems" class="btn btn-accent">Mis proyectos</a>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- // END Header Layout Content -->

</div>
<!-- // END Header Layout -->


{{>footer}}