<!--Footer-->
<div class="js-fix-footer bg-white border-top-2">
    <div class="bg-footer page-section py-lg-32pt">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                    <p class="text-white-70 mb-8pt"><strong>Siguenos</strong></p>
                    <nav class="nav nav-links nav--flush">
                        <a href="#" class="nav-link mr-8pt"><img
                                src="/app/assets/images/icon/footer/facebook-square@2x.png" width="24"
                                height="24" alt="Facebook"></a>
                        <a href="#" class="nav-link mr-8pt"><img
                                src="/app/assets/images/icon/footer/twitter-square@2x.png" width="24" height="24"
                                alt="Twitter"></a>
                        <a href="#" class="nav-link mr-8pt"><img
                                src="/app/assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24"
                                alt="Vimeo"></a>
                        <a href="#" class="nav-link"><img
                                src="/app/assets/images/icon/footer/youtube-square@2x.png" width="24" height="24"
                                alt="YouTube"></a>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">

                </div>
                <div class="col-md-4 text-md-right">
                    <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                        <a href="" class="text-white-70 text-underline mr-16pt">Terminos</a>
                        <a href="" class="text-white-70 text-underline">Politica de privacidad</a>
                    </p>
                    <p class="text-white-50 mb-0">Copyright 2019 &copy; Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>

<!-- DRAWER (MOBILE NAVBAR) -->
<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-dark sidebar-left" data-perfect-scrollbar>
            <div class="sidebar-p-a sidebar-b-b sidebar-m-b pt-0">

                <!-- Brand -->
                <a href="/" class="sidebar-brand">
                    <img class="sidebar-brand-icon" src="/app/assets/images/logo/logo.png" width="30" alt="Tutorio">
                    <span>PortHub</span>
                </a>
                <!-- // END Brand -->

                <!-- Search -->
                <form action="library-filters.html" class="search-form search-form--black">
                    <input type="text" class="form-control" placeholder="Búsqueda">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                </form>

            </div>

            <ul class="sidebar-menu">
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="/">Inicio</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="/search">Explorar</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="/templates/premium/index">Perfil</a>
                </li>
                <li class="sidebar-menu-item">
                    <a class="sidebar-menu-button" href="/shop">Tienda</a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- // END drawer -->

<!-- jQuery -->
<script src="/app/assets/vendor/jquery.min.js"></script>

<script src="/app/assets/js/custom/ajax.js"></script>

<!-- Bootstrap -->
<script src="/app/assets/vendor/popper.min.js"></script>
<script src="/app/assets/vendor/bootstrap.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="/app/assets/vendor/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="/app/assets/vendor/dom-factory.js"></script>

<!-- MDK -->
<script src="/app/assets/vendor/material-design-kit.js"></script>

<!-- Fix Footer -->
<script src="/app/assets/vendor/fix-footer.js"></script>

<!-- App JS -->
<script src="/app/assets/js/app.js"></script>

<!--Custom text scramble-->
<script src="/app/assets/js/custom/text-scramble.js"></script>

</body>

</html>