        {{> header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content pb-0">

            <div class="bg-gradient-primary py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <img src="assets/images/illustration/student/128/white.svg" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                    <div class="flex mb-32pt mb-md-0">
                        <h1 class="text-white mb-0">Inicio de sesión</h1>
                        <p class="lead measure-lead text-white-50">Administración de cuenta</p>
                    </div>
                    <a href="signup.html" class="btn btn-outline-white flex-column">
                        ¿No tiene cuenta?
                        <span class="btn__secondary-text">Crear cuenta</span>
                    </a>
                </div>
            </div>
            <div class="bg-white pt-32pt pt-sm-64pt pb-64pt">
                <div class="container page__container">
                    <form action="student-dashboard.html" class="col-md-5 p-0 mx-auto">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input id="email" type="text" class="form-control" placeholder="Introduzca su dirección de correo">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input id="password" type="password" class="form-control" placeholder="Introduzca su contraseña">
                            <p class="text-right"><a href="reset-password.html" class="small">¿Ha olvidaddo su contraseña?</a></p>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-accent" href="index.html">Iniciar sesión</a>
                            
                        </div>
                    </form>
                </div>
            </div>
            



            <div class="js-fix-footer bg-white border-top-2">
                
                <div class="bg-footer page-section py-lg-32pt">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                                <p class="text-white-70 mb-8pt"><strong>Síganos en</strong></p>
                                <nav class="nav nav-links nav--flush">
                                    <a href="#" class="nav-link mr-8pt"><img src="assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
                                    <a href="#" class="nav-link mr-8pt"><img src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
                                    <a href="#" class="nav-link mr-8pt"><img src="assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24" alt="Vimeo"></a>
                                    <a href="#" class="nav-link"><img src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
                                </nav>
                            </div>
                            <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
                            </div>
                            <div class="col-md-4 text-md-right">
                                <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                                    <a href="" class="text-white-70 text-underline mr-16pt">Términos de uso</a>
                                    <a href="" class="text-white-70 text-underline">Políticas de privacidad</a>
                                </p>
                                <p class="text-white-50 mb-0">Copyright 2021 &copy; Todos los derechos reservados.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- // END Header Layout -->

    <!-- DRAWER (MOBILE NAVBAR) -->
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-dark sidebar-left" data-perfect-scrollbar>
                <div class="sidebar-p-a sidebar-b-b sidebar-m-b pt-0">

                    <!-- Brand -->
                    <a href="index.html" class="sidebar-brand">
                        <img class="sidebar-brand-icon" src="assets/images/logo/white-100.svg" width="30" alt="Tutorio">
                        <span>PortHub</span>
                    </a>
                    <!-- // END Brand -->

                    <!-- Search -->
                    <form action="library-filters.html" class="search-form search-form--black">
                        <input type="text" class="form-control" placeholder="Búsqueda">
                        <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                    </form>

                </div>

                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="index.html">Inicio</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="search.html">Explorar</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="student-edit-account.html">Perfil</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="shop.html">Tienda</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- // END drawer -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>
