    {{> header}}


    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content pb-0">
        <div class="bg-gradient-primary py-32pt">
            <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
                <div class="flex">
                    <h1 class="text-white flex mb-0">Cambiar contraseña</h1>
                    <p class="lead text-white-50">Administración de cuenta</p>
                </div>
                <p class="d-sm-none"></p>
            </div>
        </div>
        <div class="page-section bg-white">
            <div class="container page__container">
                <div class="col-sm-6 mx-auto">
                    <div class="alert alert-light border-1 border-left-3 border-left-accent d-flex mb-24pt"
                        role="alert">
                        <i class="material-icons text-accent mr-3">check_circle</i>
                        <div class="text-body">Se ha enviado un correo electrónico con las instrucciones de
                            restablecimiento
                            de contraseña, si el correo introducido está en nuestro sistema.
                        </div>
                    </div>

                    <form action="change-password.html">

                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control" placeholder="Introduzca su dirección de correo">
                            <small class="form-text text-muted">Te enviaremos un correo electrónico con la
                                información necesaria
                                para poder cambiar su contraseña.
                            </small>
                        </div>
                        <!--<input type="hidden" name="_csrf" value="csrfTokenValue"/>-->
                        <div class="text-center">
                            <a href="/index" class="btn btn-accent">Cambiar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="js-fix-footer bg-white border-top-2">

            <div class="bg-footer page-section py-lg-32pt">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                            <p class="text-white-70 mb-8pt"><strong>Follow us</strong></p>
                            <nav class="nav nav-links nav--flush">
                                <a href="#" class="nav-link mr-8pt"><img
                                        src="/app/assets/images/icon/footer/facebook-square@2x.png" width="24"
                                        height="24" alt="Facebook"></a>
                                <a href="#" class="nav-link mr-8pt"><img
                                        src="/app/assets/images/icon/footer/twitter-square@2x.png" width="24" height="24"
                                        alt="Twitter"></a>
                                <a href="#" class="nav-link mr-8pt"><img
                                        src="/app/assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24"
                                        alt="Vimeo"></a>
                                <a href="#" class="nav-link"><img
                                        src="/app/assets/images/icon/footer/youtube-square@2x.png" width="24" height="24"
                                        alt="YouTube"></a>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
                            <a href="" class="btn btn-outline-white">Español <span
                                    class="icon--right material-icons">arrow_drop_down</span></a>
                        </div>
                        <div class="col-md-4 text-md-right">
                            <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                                <a href="" class="text-white-70 text-underline mr-16pt">Terms</a>
                                <a href="" class="text-white-70 text-underline">Privacy policy</a>
                            </p>
                            <p class="text-white-50 mb-0">Copyright 2019 &copy; All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // END Header Layout Content -->

</div>
<!-- // END Header Layout -->



{{>footer}}