<div class="col-lg-3 page-nav">
    <div class="page-section pt-lg-112pt">
        <nav class="nav page-nav__menu">
            <a class="nav-link {{#active_main}}active{{/active_main}}" href="/settings/edit/account">Información personal</a>
            <a class="nav-link {{#active_notifications}}active{{/active_notifications}}" href="/settings/edit/account/portfolioitems">Proyectos</a>
            <a class="nav-link {{#active_password}}active{{/active_password}}" href="/settings/edit/account/password">Cambiar contraseña</a>
        </nav>
    </div>
</div>