<div class="col-lg-3 page-nav">
    <div class="page-section pt-lg-112pt">
        <nav class="nav page-nav__menu">
            <a class="nav-link {{#active_main}}active{{/active_main}}" href="/student/edit/account">Información básica</a>
            <a class="nav-link {{#active_profile}}active{{/active_profile}}" href="/student/edit/account/profile">Información avanzada</a>
            <a class="nav-link {{#active_notifications}}active{{/active_notifications}}" href="/settings/edit/account/portfolioitems">Portfolio items</a>
            <a class="nav-link {{#active_password}}active{{/active_password}}" href="/settings/edit/account/password">Cambiar contraseña</a>
        </nav>
        <div class="page-nav__content">
            <button type="submit" class="btn btn-accent">Guardar cambios</button>
        </div>
    </div>
</div>