{{> header}}

<!-- Header Layout Content -->
<div class="mdk-header-layout__content page-content pb-0">

    <!--SUBNAVBAR FOR SEARCHING FILTERS-->
    <div class="navbar navbar-expand-sm navbar-list navbar-submenu navbar-light p-0 m-0">
        <div class="container-fluid align-items-start align-items-sm-center">
            <div class="navbar-list__item">
                <nav class="nav nav-links nav--flush">
                    <a data-toggle="sidebar" data-target="#filters-drawer"
                       class="active nav-link d-flex align-items-center">Filtros</a>
                </nav>
            </div>

            <div class="navbar-list__item d-flex align-items-center" style="display: none !important;">
                <!--PROBABLY DELETED IN THE FUTURE-->
                <nav class="nav nav-links nav--flush mr-24pt">
                    <a href="#" class="mr-4pt nav-link active"><i
                            class="material-icons">view_module</i></a>
                </nav>
                <div class="ml-auto custom-select-icon">
                    <select name="sort" class="custom-select custom-select-sm custom-select-icon__select">
                        <option>Nuevos primero</option>
                        <option>Antiguos primero</option>
                        <option>Nombre (a-z)</option>
                        <option>Nombre (z-a)</option>
                    </select>
                    <span class="material-icons custom-select-icon__icon">sort</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-responsive-width="768px" data-push>

        <!-- MAIN CONTENT -->
        <div class="mdk-drawer-layout__content">
            <div class="page-section">
                <div class="container page__container">


                    <div class="page-heading">
                        <h4>Mis templates</h4>
                    </div>

                    <div class="row">
                        <!--SINGLE RESULT CARD-->
                        {{#templates}}
                        <div class="col-6">
                            <div class="card card--elevated card-course overlay js-overlay mdk-reveal js-mdk-reveal "
                                 data-partial-height="80" data-toggle="popover" data-trigger="click">
                                <a href="{{htmlPath}}" class="js-image" data-position="center">
                                    <!--PROFILE IMAGE GOES HERE-->
                                    <img class="img-fluid" src="/../../app/assets/images/people/256/portfolioPremium.PNG"
                                         alt="course">
                                    <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                </span>
                                            </span>
                                </a>
                                <div class="mdk-reveal__content">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between" style="width: 100%;">
                                            <div class="d-flex align-items-center">
                                                <a class="card-title" href="{{htmlPath}}">{{name}}</a>
                                            </div>
                                            {{#active}}
                                            <a href="{{htmlPath}}" class="btn btn-primary">Activo</a>
                                            {{/active}}
                                            {{^active}}
                                            <form action="/set/active/template">
                                                <input type="hidden" name='id' value="{{id}}"/>
                                                <!--<input type="hidden" name="_csrf" value="csrfTokenValue"/>-->
                                                <input type='submit' class="btn btn-accent" value='Activar' />
                                            </form>
                                            {{/active}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/templates}}

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- // END drawer-layout -->


</div>
<!-- // END Header Layout Content -->

</div>
<!-- // END Header Layout -->

{{>footer}}