        {{> header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <img src="app/assets/images/illustration/student/128/white.svg" width="104" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">Alexander Watson</h2>
                        <h3 class="text-white mb-0">Email: <span class="font-weight-light">alexander.watson@fake-mail.com</span></h3>
                        <h4 class="text-white mb-0 lowe">Telefono: <span class="font-weight-light">666 666 666</span></h4>
                        <h4 class="text-white mb-0 lowe">Edad: <span class="font-weight-light">24</span></h4>
                    </div>
                </div>
            </div>

            <div class="navbar navbar-expand-sm navbar-dark-white bg-gradient-primary p-sm-0 mb-0">
                <div class="container page__container">

                    <!-- Navbar toggler -->
                    <button class="navbar-toggler ml-n16pt" type="button" data-toggle="collapse" data-target="#navbar-submenu2">
                        <span class="material-icons">people_outline</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-submenu2">
                        <div class="navbar-collapse__content pb-16pt pb-sm-0">
                            <ul class="nav navbar-nav">

                                <li class="nav-item">
                                    <a href="/templates/premium/index" class="nav-link">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a href="my-templates.html" class="nav-link">Mis templates</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>




            <div class="container page__container">
                <form action="student-edit-account.html">
                    <div class="row">
                        <div class="col-lg-9">

                            <div class="page-section">
                                <h4>Cambiar contraseña</h4>

                                <div class="list-group list-group-form">
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Nueva contraseña</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" placeholder="Password ...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Confirmar contraseña</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" placeholder="Confirm password ...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {{> student-edit-account-panel}}

                    </div>
                </form>
            </div>



            <div class="js-fix-footer bg-white border-top-2">
                
                <div class="js-fix-footer bg-white border-top-2">
                    <div class="bg-footer page-section py-lg-32pt">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                                    <p class="text-white-70 mb-8pt"><strong>Siguenos</strong></p>
                                    <nav class="nav nav-links nav--flush">
                                        <a href="#" class="nav-link mr-8pt"><img
                                                src="app/assets/images/icon/footer/facebook-square@2x.png" width="24"
                                                height="24" alt="Facebook"></a>
                                        <a href="#" class="nav-link mr-8pt"><img
                                                src="app/assets/images/icon/footer/twitter-square@2x.png" width="24" height="24"
                                                alt="Twitter"></a>
                                        <a href="#" class="nav-link mr-8pt"><img
                                                src="app/assets/images/icon/footer/vimeo-square@2x.png" width="24" height="24"
                                                alt="Vimeo"></a>
                                        <a href="#" class="nav-link"><img
                                                src="app/assets/images/icon/footer/youtube-square@2x.png" width="24" height="24"
                                                alt="YouTube"></a>
                                    </nav>
                                </div>
                                <div class="col-md-6 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
    
                                </div>
                                <div class="col-md-4 text-md-right">
                                    <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                                        <a href="" class="text-white-70 text-underline mr-16pt">Terminos</a>
                                        <a href="" class="text-white-70 text-underline">Politica de privacidad</a>
                                    </p>
                                    <p class="text-white-50 mb-0">Copyright 2019 &copy; Todos los derechos reservados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

        {{> footer}}




</body>

</html>