{{> header}}


    <!-- Header Layout Content -->
    <div class="mdk-header-layout__content page-content pb-0">
        <div class="bg-gradient-primary py-32pt">
            <div class="container d-flex flex-column flex-sm-row align-items-sm-center">
                <div class="flex">
                    <h1 class="text-white flex mb-0">Perfil actualizado</h1>
                    <p class="lead text-white-50">Administración de perfil</p>
                </div>
                <p class="d-sm-none">Su perfil ha sido actualizado correctamente</p>
            </div>
        </div>
        <div class="page-section bg-white">
            <div class="container page__container">
                <div class="col-sm-6 mx-auto">

                    <div class="card border-left-4 card-body card--raised border-left-primary">
                        <div class="card-header d-flex align-items-center">
                            <div class="flex">
                                <h4 class="card-title">Todo correcto</h4>
                                <p class="card-subtitle">Su perfil ha sido actualizado</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="text-70">La actualización de su perfil se ha realizado con exito, puede ver lo cambios a traves del siguiente boton</p>
                            <a href="/settings/edit/account" class="btn btn-accent">Mi perfil</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- // END Header Layout Content -->
</div>
<!-- // END Header Layout -->


{{>footer}}