code.highlight {
  color: #ffffff;
}
.hljs-keyword, 
.hljs-literal, 
.hljs-symbol, 
.hljs-name {
  color: #57d6cc;
}

.hljs-attr, 
.hljs-attribute, 
.hljs-builtin-name {
  color: #9afef6;
}

.hljs-string, 
.hljs-meta-string {
  color: #d68587;
}